/* @import Google Fonts Maconda and Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap");

/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620;
    /*dark brown*/
    --secondary-color: #aa9581;
    /* light brown */
    --highlight-color: #416a8e;
    /* blue */
    --highlight-color-light: #7a9fc2;
    /* light blue */
}

/* Global styles */
body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);

}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* buttons */

.custon-button-filled
 {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
}

.custon-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

.custon-button-outline {
    border: 3px solid var(--highlight-color);
    color: var(--highlight-color);
    padding: 7px 25px
}

.custon-button-outline:hover {
    
    background-color: var(--highlight-color);
    color: white;
   
}
.custom-button-sharp,
.custom-button-sharp:hover {
    border-radius: 0;
     background-color: var(--highlight-color);
    color: white;
    margin-right:none;

}
/* Navbar styles */
#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px
}

/* Header */
#header .lead {
    font-family: var(--secondary-font);
}

/* Services Section */
#services .card-footer {
    color: var(--highlight-color);
    font-weight: bold;
    background-color: transparent;
}

#new-games .card,
#favourites .card {
    border: none;
}
/* events - table too big! even after made small */
#events table {
    font-size: 0.9rem;
}

/* footer/contact */

#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;

}

#contact h2 {
    color: white;
}

#contact .sub-heading-color {
    color: var(--highlight-color-light);
}

#contact i,
#contact .vr {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .social-links i {
    color: var(--highlight-color-light);
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}

#contact .social-links .vr {
    font-size: 1.5rem;
}

#contact .social-links i:hover {
    color: var(--secondary-color);
}

#contact .table-dark * {
    background-color: transparent;
}


/* Could also add gy-3 or similar class, to row - also allows h-100 to be used with card -must be on all cards*/
/* #services .card {
    margin-bottom: 1.5rem
} */

/* grid visualisation CSS for testing */
/* .container, .row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgrey;
} */

/* Media Queries */

/* to sort out odd height cards on services section - only an issue from md and above - 
bs md is 768px */
/* - used h-100 and gy-4/*  */
/* @media screen and (max-width: 768px) {
    #services .card-body {
        min-height: 191px;
    }
}

@media screen and (max-width: 992px) {
    #services .card-body {
        min-height: auto;
    }
}

@media screen and (max-width: 1200px) {
    #services .card-body {
        min-height: 220px;
    }
}

@media screen and (max-width: 1400px) {
    #services .card-body {
        min-height: 195px;
    }
} */